body {
  background-color:blue
}

/*main frame of calculator*/
#frame {
  width:300px;
  height:450px;
  background-color:#7C7A7A;
  border-radius:15px;
  position:relative;
  margin:0 auto;
  margin-top:100px;
  box-shadow: 5px 5px 20px 2px;
  padding:20px;
}

/*screen properties*/
#screen {
  position:relative;
  height:125px;
  width:260px;
  margin:0 auto;
  margin-bottom:10px;
  border-radius:10px;
  background-color:#66C710;
  font-family:'Orbitron'
}

/*top row of display, reflecting current input*/
#input {
  margin-top:10px;
  font-size:25pt;
}

/*bottom section of display, reflecting aggregate input*/
#equation {
  margin-top:10px;
}

/*button style*/
button {
  box-shadow:0px 4px 0px #44000E;
  height:45px;
  width:45px;
  margin-top:10px;
  margin-left:15px;
  border-radius:10px;
  background-color:#7F0F93;
  border:none;
  color:silver
}

/*removes default button behavior*/
button:focus {
  outline: 0
}

/*equals button special properties*/
#equals {
  height:100px;
}

/*zero button special properties*/
#zero {
  width:105px
}

/*last column special properties*/
.last-col {
  margin-left:5px
}